@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #d7d9db;
  padding: 7px;
  font-family: 'Poppins', sans-serif;

}

.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

/* canvas {
  height: 100%;
  width: 100%;
} */
.chartBox {
  height: 300px;
  width: 300px;
}